

.grid{
    display:grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    gap:20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top:30px;
    margin-bottom: 10px;
    
}
.card{
    background: #fff;
    padding:15px;
    display: flex;
    flex-direction: column;
    gap:15px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    transition: transform 0.2s;
}
.card:hover{
    transform: scale(1.05);
}
.card img{
    width:100%;
    border-radius: 10px;
}
.view-btn {
    margin-top: 10px;
    padding: 16px 14px;
    background: #1c9cff;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
.modal-background{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    
}
.modal {
    background: #fff;
    width: 40%;
    max-height: 80%;
    padding: 20px;
    border-radius: 10px;
    overflow-y: scroll;
    text-align:center;
}
.foodname{
    margin-bottom: 20px;
}

.modal img {
    width: 70%;
    border-radius: 8px;
    margin-bottom: 15px;
}

.close-btn {
    padding: 10px 18px;
    background: red;
    font-size: 20px;
    color: #fff;
    border: none;
    margin-top: 15px;
    cursor: pointer;
    border-radius: 6px;
}
.ingredients-table {
  width: 100%;
  border-collapse: collapse;
}

.ingredients-table td {
  padding: 4px 8px;
  border-bottom: 1px solid #ddd;
}
.error{
    text-align: center;
}
.error-message{
    font-size: 24px;
    color: red;
    text-align: center;
     grid-column: 1 / -1;

}
.info-message{
    font-size: 24px;
    color:blue;
    text-align: center;
     grid-column: 1 / -1;

}
.favorite-btn {
  background-color: #ff6b81; 
  color: white;
  margin-top: 8px;
  display: block;
}
.buttonf{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.favorite-btn{
    margin-top: 10px;
    padding: 8px 14px;
    background: #ff1c99;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;

}

.foodname{
    color: blue;
}
.remove-btn{
    padding-bottom: 5px;
}
.favh{
    color: black;
    font-family: sans-serif;
    font-size: 35px;
    text-align: center;
}
.favo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:15px;
}
.favo h2{
    color: black;
    font-family: sans-serif;
    font-size: 35px;
}
.favo p{
    color: red;
    font-family: sans-serif;
    font-size: 15px;
}
.grid h3{
    font-family: sans-serif;
}
.bold{
    font-family: sans-serif;
    color: red;
}




@media(max-width: 1024px){
    .grid{
        grid-template-columns: repeat(3, 1fr);
    }
}


@media(max-width: 768px){
    .grid{
        grid-template-columns: repeat(2, 1fr);
    }

    .modal {
        width: 60%;
        padding: 15px;
    }

    .modal img {
        width: 80%;
    }

    .view-btn {
        padding: 6px 30px;
    }
    
}


@media(max-width: 480px){
    .grid{
        grid-template-columns: 1fr;
        gap: 15px;
    }

    .modal {
        width: 90%;
        padding: 10px;
    }

    .modal img {
        width: 100%;
    }

    .modal h2.foodname{
        font-size: 16px;
    }

    .view-btn {
        padding: 10px 30px;
        font-size: 14px;
    }

    .close-btn {
        padding: 8px 12px;
        font-size: 16px;
    }

    .ingredients-table td {
        padding: 3px 5px;
    }

    .error-message, .info-message {
        font-size: 18px;
    }
    .card{
        margin-left: 20px;
        margin-right: 20px;
    }
}    
    

@media(max-width: 375px){
    .modal h2.foodname{
        font-size: 14px;
    }

    .view-btn {
        font-size: 12px;
        padding: 4px 8px;
    }

    .close-btn {
        font-size: 14px;
        padding: 6px 10px;
    }

    .ingredients-table td {
        font-size: 12px;
    }
}



